@page
@model StrongBartending.Pages.Contact.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Contacts</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    @*Table head from Context using Taghelper*@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Active)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacts[0].Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*Table items from Context using Taghelper*@
@foreach (var item in Model.Contacts) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @*update and delete link for each data, passing the LeadKey*@
                <a asp-page="./Edit" asp-route-id="@item.ContactKey">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ContactKey">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ContactKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
