@page
@model StrongBartending.Pages.Configuration.Service.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services[0].Uom)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Services) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Uom)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ServiceKey">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ServiceKey">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ServiceKey">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
