@page
@model StrongBartending.Pages.Event.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Reminder
            </th>
            <th>
                Open Time
            </th>
            <th>
                Close Time
            </th>
            <th>
                Contact
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events) {
        <tr>
            <td>
                @item.Reminder.ToShortDateString()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarOpen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BarClose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactKeyNavigation.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventStatNavigation.Description)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.EventKey">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventKey">Cancel</a>
            </td>
        </tr>
}
    </tbody>
</table>
