@page
@model StrongBartending.Pages.Lead.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Legacy ID
            </th>
            <th>
                Event Date
            </th>
            <th>
                Start Time
            </th>
            <th>
                Location
            </th>
            <th>
                Status
            </th>
            <th>
                Event Type
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Leads) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LegacyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LeadStatNavigation.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventTypeKeyNavigation.Description)
            </td>
            <td>
                @if (item.LeadStat != 7)
                {
                    <a asp-page="./Edit" asp-route-id="@item.LeadKey">Edit |</a>
                    <a asp-page="./Delete" asp-route-id="@item.LeadKey">Cancel |</a>
                    <a asp-page="/Event/Create" asp-route-id="@item.LeadKey">Proposal |</a>
                }
                <a asp-page="./Details" asp-route-id="@item.LeadKey">Lead Details |</a>
                <a asp-page="/EventDetail/Index" asp-route-id="@item.LeadKey">Service Items </a>
            </td>
        </tr>
}
    </tbody>
</table>
