@page
@model StrongBartending.Pages.EventDetail.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EventDetails</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.EventKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.EventKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.LeadKeyNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.LeadKeyNavigation.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.LineStatNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.LineStatNavigation.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDetails.ServiceKeyNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDetails.ServiceKeyNavigation.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EventDetails.LineKey">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
