@page
@model StrongBartending.Pages.EventDetail.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Event Detail</h1>

<p>
    <a asp-page="/EventDetail/Create" asp-route-id="@Model.ID">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description
            </th>
            <th>
                Price
            </th>
            <th>
                Status
            </th>
            <th>
                Service
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.EventDetails) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineStatNavigation.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceKeyNavigation.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.LineKey">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.LineKey">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.LineKey">Delete</a>
            </td>
        </tr>
}

    </tbody>
</table>
<a asp-page="/Lead/Index">Back to Lead List</a>
